.App {
  text-align: center;
}
.linkToFlex {
  display: flex;
  flex-direction: column;
}
.linkToFlex a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 5px 20px;
  margin: 10px auto;
  background-color: orangered;
}
.col-2-block-area {
  border-right: 1px solid black;
}
.linkImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.col-10-area-block {
  border-left: 1px solid black;
}
.bgPicture {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to right bottom, #0000007c, #00000091),
    url(https://gdurl.com/dYdE);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.portfelioPic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.linkImg1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bgAbout {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to right bottom, #0000007c, #00000091),
    url(https://gdurl.com/Km4CW);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  position: relative;
}
.flex-about-div{
  display: flex;
  justify-content: space-between;
  background-color: #dddddd;

}
.picture-full {
  background-image: linear-gradient(to right, #00000000, #00000091);
}
.about-details {
  padding: 30px 5px;
}
.about-details h1, .about-details p{
  text-align: left;
}
.all-center-about {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
}
.additional-about {
  margin-top: 30px;
  display: flex;
  
}